@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

section {
    width: 50vmax;
    height: 50vmax;
}

h6 {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: large;
    color: black;
    margin-top: 0;
}

h2 {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: xx-large;
    color: #FF4E42;
    margin-bottom: 0;
}

.texto-vermelho {
    color: #FF4E42;
    font-size: 150%;
    position: relative;
}

.pedido-feito {
    width: 50%;
    float: left;
    background-image: url('./../imagem/pattern-azul.png');
    background-repeat: repeat;
    background-size: 500px;
}

.texto-direita {
    width: 50%;
    float: right;
}

.centralizar {
    text-align: center;
    margin-top: 50%;
}

.container {
    position:relative;
    width:100%;
}

.img-pedido {
    top: 3%;
    left: 20%;
    position: relative;
}

.buttons {
    padding: 15px 25px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
    font-size: small;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #1820EF;
    width: 220px;
}

.seta {
    width: 15%;
    height: 2%;
}