@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

section {
    height: 100vh;
}

h6 {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: large;
    color: black;
    margin-top: 0;
}

h2 {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: xx-large;
    color: #FF4E42;
    margin-bottom: 0;
}

.img-pedido {
    width: 100%;
}

.icon{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}

.texto-vermelho {
    color: #FF4E42;
    font-size: 150%;
    text-align: center;
}

section.pedido-feito h6.texto-vermelho {
    position: relative;
    left: 2%;
    top: 2%;
}

.pedido-feito {
    width: 50%;
    float: left;
    background-image: url('./../imagem/pattern-azul.png');
    background-repeat: repeat;
    background-size: 500px;
}

.desc-pedido {
    color: #FFC024;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.texto-direita {
    width: 50%;
    float: right;
}

.centralizar {
    text-align: center;
    margin-top: 50%;
}

.your-order {
    position: relative;
    top: 20px;
    color: white;
    text-align: center;
}

.container {
   /*  position:relative;
    width:100%; */

    display: flex;
}

.buttons {
    padding: 15px 25px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
    font-size: small;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #1820EF;
    width: 220px;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta {
    width: 15%;
    height: 2%;
}

@media screen and (max-width: 499px) {
    .container {
        flex-direction: column;
    }

    .pedido-feito {
        width: 100%;
    }

    .texto-direita {
        width: 100%;
    }

    section.pedido-feito h6.texto-vermelho {
        position: revert;
        left: auto;
        right: auto;
    }
    
    h6 {
        font-size: medium;
    }

    .button1 {
        margin-top: 10%;
        float:none
    }

    .buttons {
        font-size: large;
        text-align: left;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        background-color: #1820EF;
        width: 250px;
    }

    .centralizar {
        margin-top: 100%;
        float:none
    }

}