body {
    font-family: "Montserrat", sans-serif;
}

header {
    background: url('./imagem/header/background-pattern.png') repeat;

}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #FFFFFF;
    transition: 0.3s;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    top: 80%;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h2 {
    font-family:"Montserrat";
    text-align: center;
}

h6 {
    text-align: center;
}

.preco {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.name {
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;

}

.descricao {
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 499px) {

    .col-12 {
        width: 100%;
    }

}

@media screen and (min-width: 500px) {

    .col-4 {
        width: 25%;
    }

}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 100px;
    box-shadow: 0 9px #999;
}

