* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    border: 0;
    box-sizing: border-box;
}

header {
    background-image: url('./../imagem/header/background-pattern.png');
    background-repeat: repeat;
    background-size: 550px;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}


body {
    background: #FAFAED;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    display: list-item;
}

.list-cards {
    display: flex;
    padding: 32px;
    justify-content: space-evenly;
}

.list-cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.list-cards section.card .icon{
    width: 110px;
    height: 110px;
    margin-top: 10%;
}

/* .list-cards section.card img {
    width: 100%;
} */

.list-cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

.list-cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

.list-cards section.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.list-cards section.card span {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.button1 {
    background-color: #C1C2C1;
    margin-top: 5%;
    margin-bottom: 7%;
    width: 220px;
    font-size: small;
}

.button2 {
    background-color: #1820EF;
    top: 74%;
    left: 16.5%;
    width: 200px;
    position: absolute;
    
}

.seta {
    width: 10%;
    height: 10%;
}

.imagem1 {
    z-index: 3;
    position: absolute;
    top: 5%;
    width: 43%;
}

.imagem2 {
    position: absolute;
    top: 6%;
    left: 25%;
    z-index: 4;
}

.imagem3 {
    position: absolute;
    float: left;
    top: 40%;
    left: 64.7%;
    z-index: 5;
}

.circulo{
    border-radius: 100%;
    margin-top: -2%;
    width: 510px;
    height: 510px;
    background-color: #8B0000;
    z-index: 2;
}

.column {
    display: flex;
    padding: 32px;
    justify-content: space-between
}

h2 {
    text-align: center;
    color: #000000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    margin-top: 10%;
    margin-bottom: 0;
}

h6 {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500px;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 5%;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
}

.preco {
    color: #FF4E42;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-size: x-large;
}

.name {
    color: #1820EF;
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: x-large;
}

.descricao {
    color: #000000;
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: medium;
}

.texto-amarelo {
    color: #FFC024;
    font-family: 'M PLUS Rounded 1c';
    font-size: 130%;
    left: -43.9%;
    position: relative;
    font-weight: normal;
    padding-top: 1.5%;
}

.texto-paragrafo {
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: medium;
    font-style: normal;
    width: 15%;
    z-index: 6;
    position: relative;
    left: 17.2%;
    margin-top: -2.5%;
    font-weight: normal;
}

.texto-go {
    color: white;
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 850%;
    z-index: 5;
    position: relative;
    margin-top: -30.9%;
    left: 22%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
    font-size: small;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


@media screen and (max-width: 499px) {
    .list-cards {
        /* flex-direction: column; */
        overflow-x: auto;
        scroll-behavior: smooth;
        flex-wrap: nowrap;
    }

    .list-cards section.card {
        margin-left: 0;
        margin-bottom: 30px;
        margin-left: 0;
        flex: 0 0 auto;
    }

    .list-cards section.card:last-child {
        margin-bottom: 0;
    }

    h6.texto-amarelo {
        margin-left: 0;
        margin-bottom: 0;
        left: auto;
        right: auto;
        top: 1%;
    }
    
    .imagem1 {
        width: 100%;
        left: -10%;
        top: 9%;
    }

    .imagem2 {
        top: 10%;
        left: 16%;
        z-index: 4;
        width: 15%;
    }
    
    .imagem3 {
        top: 29%;
        left: 90%;
        z-index: 5;
        width: 15%;
    }

    .circulo {
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        height: 40vh;
        margin-top: 15%;
    }

    .posicao-circulo {
        display: flex;
        justify-content: center;
    }

    .texto-go {
        z-index: 5;
        align-items: center;
        margin-top: 10%;
        width: 10%;
        
    }

    .texto-paragrafo {
        width: 50%;
        z-index: 6;
        align-items: center;
        text-align: center;
        left: auto;
        right: auto;
        top: 50%;
        padding: 0 0 0 0;
    }

    .button2 {
        display: none;
    }

    body {
        height: 50vh;
        width: 100%;
    }

}