@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-image: url('./../imagem/header/background-pattern.png');
    background-repeat: repeat;
    background-size: 500px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5%;
    text-align: center;
    background-color: #FAFAED;
    transition: 0.3s;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #000000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    margin-top: 50px;
}

h6 {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400px;
    font-size: medium;
}

.preco {
    color: #FF4E42;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-size: x-large;
}

.name {
    color: #1820EF;
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: x-large;
}

.descricao {
    color: #000000;
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: medium;
}

.texto-amarelo {
    color: #FFC024;
    font-size: 150%;
    left: -43%;
    position: relative;
}

.texto-paragrafo {
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: medium;
    width: 22%;
    z-index: 6;
    position: relative;
    left: 23%;
    margin-top: -20%;
    margin-bottom: 20%;
}

.texto-go {
    color: white;
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 900%;
    z-index: 5;
    position: relative;
    left: 30%;
    margin-top: 6%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 499px) {

    .col-12 {
        width: 100%;
        display: block;
    }

}

@media screen and (min-width: 500px) {

    .col-4 {
        width: 25%;
        margin-left: 3%;
        margin-right: 3%;
        display: inline-block;
    }

}

.buttons {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
}

.button1 {
    background-color: #C1C2C1;
    margin-top: 5%;
    margin-bottom: 7%;
    width: 19%;
}

.button2 {
    background-color: #C1C2C1;
    margin-top: 5%;
    margin-bottom: 7%;
    width: 19%;
}

.seta {
    width: 10%;
    height: 10%;
    transform: rotate(270deg);
}

.imagem1 {
    position: absolute;
    display: block;
    top: 10%;
    z-index: 3;
    height: 90%;
    width: 90%;
    left: 5%;
    object-fit: contain;
}

.imagem2 {
    position: absolute;
    float: left;
    top: 10%;
    left: 25%;
    z-index: 4;
}

.imagem3 {
    position: absolute;
    float: left;
    top: 40%;
    left: 62%;
    z-index: 5;
}

.circulo{
    border-radius: 100%;
    width: 500px;
    height: 500px;
    background-color: #A51B0B;
    position: absolute;
    z-index: 2;
    left: 30%;
    top: 17%;
}
